<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>text rpg</title>
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    <link rel="shortcut icon" href="{{url_for('static', filename='favicon.ico')}}" type="image/x-icon">
</head>
<body>
    <header>
        <h1>text rpg</h1>
    </header>
    <button id="incrementBtn" onclick="modifyWood('add')">나무 채집</button>
    <p>나뭇가지: <span id="wood">{{woods}}</span></p>
    <p>도구: 
        <select name="tool" id="tool" class="select">
            <option value="wood">{{tool}}</option>
        </select>
    </p>

    <button id="decrementBtn" onclick="modifyWood('subtract')">집 수리하기 (나무 <span id="build">{{need}}</span>개)</button>
    <form action="/house" method="post">
        <button type="submit">집 들어가기</button>
    </form>
    <script src="{{url_for('static',filename='script.js')}}"></script>
</body>
</html>