<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>text rpg</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header>
        <h1>text rpg</h1>
        <button id="saveBtn" class="save find-btn1">데이터 저장</button>
        <button id="loadBtn" class="load find-btn1">데이터 불러오기</button>
    </header>
    <br>
    <button class="tree" id="incrementBtn">나무 얻기</button>
    <p>나뭇가지: <span id="wood">{{woods}}</span></p>
    <p>도구: <span id="tool">{{tool}}</span></p>

    <button class="drop" id="drop">집 수리하기 (나무 <span id="need">{{need}}</span>개)</button>
    <div id="dataContainer"></div>
    <script src="{{url_for('static',filename='script.js')}}"></script>
    <script src="{{url_for('static',filename='data_handler.js')}}"></script>
</body>
</html>